@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@700&family=Young+Serif&display=swap');

body {
	padding: 0;
	margin: 0;
	background-color: white;
	font-family: "Kumbh Sans";
}

main {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 80%;
}

header {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px 0;
	border-bottom: 1px solid rgb(187, 185, 185);
	margin-bottom: 80px;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 10px;
}

nav ul li {
	margin: 0 10px;
	color: rgb(109, 109, 109);
}

.logo, .cart-icon {
	padding: 10px 0;
	height: min-content;
}

.avatar {
	margin-left: 20px;
}

.avatar img {
	width: 40px;
}

.cart-icon {
	
	margin-left: auto;
	margin-right: 10px;
}

.left {
	display: flex;
	flex-direction: column;
	width: 50%;
	row-gap: 15px;
	padding: 40px;
}

.thumbnails {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	row-gap: 15px;
}

.right {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
}

.left img {
	width: 100%;
	border-radius: 10px;
}

.thumbnails div {
	width: 20%;
}

.right p {
	color: rgb(109, 109, 109);
}

.description {
	margin: 20px 0;
}

.discount-price {
	display: flex;
	align-items: center;
}

.discount-price * {
	padding: 0;
	margin: 0;
}

.discount-price p {
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.discount-price span {
	color: hsl(26, 100%, 55%);
	background-color: hsl(25, 100%, 94%);
	padding: 6px;
	font-size: 13px;
}

.real-price p {
	margin: 10px 0 20px 0;
}

.order {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: min-content;
}

.order img {
	width: 20px;
	height: 20px;
}

.add-amount-remove {
	display: flex;
	background-color: hsl(223, 64%, 98%);
	width: 40%;
	height: min-content;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
}

.add-amount-remove img {
	width: 15px;
	height: 15px;
}

.add-amount-remove .minus {
	height: 5px;
}

.add-to-cart {
	display: flex;
	width: 50%;
	margin-right: auto;
	padding: 10px;
	align-items: center;
	justify-content: space-evenly;
	background-color: orange;
	color: white;
	border-radius: 7px;
}


.add-to-cart * {
	margin: 0;
}