@media only screen and (min-width: 768px) {
	main {
		margin: 5rem auto;
		width: 65%;
		flex-direction: row;
		background-color: white;
		border-radius: 1rem;
		padding: 1rem;
		height: 29rem;
	}

	main .left {
		background-image: url(../images/bg-sidebar-desktop.svg);
		flex-direction: column;
		width: 30%;
		background-size: contain;
		height: 100%;
		padding: 0 1rem;
		justify-content: flex-start;
	}

	main .left .steps:first-child {
		margin-top: 3rem;
	}

	main .left .steps {
		margin: .5rem 0;
		display: flex;
		align-items: center;
		width: 100%;
	}

	main .left .steps * {
		margin: 0;
		padding: 0;
	}

	main .left .steps .step-text {
		margin: 0 1rem;
		display: flex;
		flex-direction: column;
		color: white;
	}

	.step-text p {
		opacity: .5;
	}

	main .left .steps .detail {
		opacity: 1;
		font-weight: bold;
		font-size: .8rem;
		color: white;
	}

	main .left .steps button {
		width: 2rem;
	}

	main .bottom {
		display: flex;
		height: auto;
		font-size: smaller;
		width: 70%;
	}

	main .bottom .step-1,
	main .bottom .step-2,
	main .bottom .step-3,
	main .bottom .step-4,
	main .bottom .step-5 {
		position: static;
		width: 90%;
		transform: translateX(0);
		box-shadow: none;
		background-color: transparent;
	}
	main .bottom .step-1 {
		width: 100%;
	}

	main .bottom .step-4 {
		width: 95%;
	}

	main .bottom .step-1,
	main .bottom .step-2,
	main .bottom .step-3,
	main .bottom .step-4 {
		display: none;
	}

	main .bottom .step-5 {
		display: flex;
	}

	main .bottom .step-2 .labels {
		display: flex;
		column-gap: 1rem;
		width: 100%;
	}

	main .bottom .step-2 .card {
		width: 30%;
	}

	main .bottom .step-2 .card-details {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.bottom .step-2 .card-details img {
		width: 3rem;
		margin: 1.5rem 1rem;
		margin-bottom: 2.5rem;
	}

	.bottom .step-2 .card-details .card-text {
		margin: 0 1rem;
	}

	.bottom .step-2 .card-details .card-text h3 {
		font-size: 15px;
	}

	.bottom .step-2 .card-details .card-text p {
		opacity: .5;
	}
	main .bottom .progress {
		position: static;
		margin: 0;
		width: 96%;
		padding: 0;
		align-self: center;
		justify-content: center;
	}

	.billing-toggle .switch {
		height: 20px;
	}

	.switch .slider {
		width: 54px;
	}

	.switch input:checked + .slider:before {
		transform: translateX(30px);
	  }

	.slider::before {
		width: 16px;
		height: 16px;
		bottom: 2px;
	}

	main .bottom .step-3 .card {
		padding-top: .5rem;
		padding-bottom: .5rem;
	}

	.finishing p {
		display: flex;
	}

	p.finishing-cost {
		margin-right: auto;
	}
	.finishing p span {
		margin-right: auto;
	}

	#next, #back {
		width: 100%;
		align-self: center;
		font-size: .7rem;
	}
}
