@media only screen and (min-width: 768px) {
	main {
		margin: 5rem auto;
		width: 65%;
		flex-direction: row;
		background-color: white;
		border-radius: 1rem;
		padding: 1rem;
		height: 28rem;
	}

	main .left {
		background-image: url(../images/bg-sidebar-desktop.svg);
		flex-direction: column;
		width: 30%;
		background-size: contain;
		height: 100%;
		padding: 0 1rem;
		justify-content: flex-start;
	}

	main .left .steps:first-child {
		margin-top: 3rem;
	}

	main .left .steps {
		margin: .5rem 0;
		display: flex;
		align-items: center;
		width: 100%;
	}

	main .left .steps * {
		margin: 0;
		padding: 0;
	}

	main .left .steps .step-text {
		margin: 0 1rem;
		display: flex;
		flex-direction: column;
		color: white;
	}

	.step-text p {
		opacity: .5;
	}

	main .left .steps .detail {
		opacity: 1;
		font-weight: bold;
		font-size: .8rem;
		color: white;
	}

	main .left .steps button {
		width: 2rem;
	}

	main .bottom {
		display: flex;
		height: auto;
		font-size: smaller;
	}

	main .bottom .step-1,
	main .bottom .step-2,
	main .bottom .step-3,
	main .bottom .step-4,
	main .bottom .step-5 {
		position: static;
		width: 100%;
		transform: translateX(0);
		box-shadow: none;
		background-color: transparent;
	}

	main .bottom .step-1 {
		display: none;
	}
	main .bottom .step-2 {
		display: flex;
	}

	main .bottom .step-2 .labels {
		display: flex;
		
	}

	main .bottom .progress {
		position: static;
		margin: 0;
		width: 100%;
		justify-content: space-around;
	}

	#next, #back {
		width: 100%;
		align-self: center;
		font-size: .7rem;
	}
}